:root {
  --main-color: #015FEE;
  --top-menu-color: #939DAC;
  --backgroud-color: #FFFFFF;
  --footer_background : #000000;
  --footer-text-color: #939DAC;
  --color-accent: #FE0051;
}

.no_gap {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-size: 0.97vw;
}